.dashboard{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    height: 90vh;
}
.left_dash{
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.left_up_dash{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.right_dash{
    background-color: rgba(134, 134, 134, 0.342);
}
.left_up_dash p, .left_down_dash  p{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.user_profile{
    margin: 10px 100px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
}
.user_profile h4{
    font-size: 2rem;
}.user_profile p{
    font-size: 1rem;
}
.user_icon_dash{
    margin: 0px 120px;
    margin-top: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.575);
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 11rem;
}