.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
    height: 100px;
}
.navbar img{
    width: 150px;
    height: 150px;
}
.navbar_route{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav_elements{
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
}
.nav_login{
    text-decoration: none;
    font-size: 1.7rem;
    color: black;
    background: linear-gradient(135deg, #00beb5, #98ded9);
    padding: 10px 30px;
    border-radius: 10px;
}