.hero_img{
    background-Size: cover;
    background-Position: center;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    transition: 1s ease-in-out;
    top: 0;
}
.hero_img::before {
    content: '';
    position: absolute;
    top: 150;
    left: 0;
    height: 80%;
    width: 100%;
    background: rgba(0, 0, 0, 0.628);
    z-index: 2;
}
.hero_components{
    margin-left:150px ;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.hero_components h1{
    font-size: 4rem;
    line-height: 70px;
    font-weight: bold;
    color: white;
    z-index: 999;
}
.hero_components h1 span {
    font-size: 9rem;
    color: #00beb5;
    font-weight: bold;
}
.hero_components h3{
    font-size: 1.7rem;
    color: lightgray;
    z-index: 999;
}